pkgbase = nexium-bin
	pkgdesc = The Nexium language: a compiler that emits C and ships libraries, packages and tools
	pkgver = 1.4.0
	pkgrel = 1
	url = https://londopy.github.io/nexium/
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	optdepends = zig: the C compiler nx uses by default
	optdepends = gcc: a C compiler nx falls back to when there is no zig
	provides = nexium
	conflicts = nexium
	source_x86_64 = nx-v1.4.0-x86_64-unknown-linux-gnu.tar.gz::https://github.com/Londopy/nexium/releases/download/v1.4.0/nx-v1.4.0-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = d2bee5ed476ae9aa84f2061185d81c2e76c6f7c0cda6303bfff110ff1db30dab
	source_aarch64 = nx-v1.4.0-aarch64-unknown-linux-gnu.tar.gz::https://github.com/Londopy/nexium/releases/download/v1.4.0/nx-v1.4.0-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = 65354d5aede09b8542e48c445c420cc1fc546574f7568aaaaebab827f26a2647

pkgname = nexium-bin
