pkgbase = nexium-bin
	pkgdesc = The Nexium language: a compiler that emits C and ships libraries, packages and tools
	pkgver = 1.3.0
	pkgrel = 1
	url = https://londopy.github.io/nexium/
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	optdepends = zig: the C compiler nx uses by default
	optdepends = gcc: a C compiler nx falls back to when there is no zig
	provides = nexium
	conflicts = nexium
	source_x86_64 = nx-v1.3.0-x86_64-unknown-linux-gnu.tar.gz::https://github.com/Londopy/nexium/releases/download/v1.3.0/nx-v1.3.0-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = 85ba77260797b586bd5ad71f6f173c8925f53a5243404c80faebfeaf3a258576
	source_aarch64 = nx-v1.3.0-aarch64-unknown-linux-gnu.tar.gz::https://github.com/Londopy/nexium/releases/download/v1.3.0/nx-v1.3.0-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = 6b2e3f30aa7028532993cf3cb4154092d574133eb519682fc3b62cfd22795f8b

pkgname = nexium-bin
