pkgbase = nexium-bin
	pkgdesc = The Nexium language: a compiler that emits C and ships libraries, packages and tools
	pkgver = 1.3.1
	pkgrel = 1
	url = https://londopy.github.io/nexium/
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	optdepends = zig: the C compiler nx uses by default
	optdepends = gcc: a C compiler nx falls back to when there is no zig
	provides = nexium
	conflicts = nexium
	source_x86_64 = nx-v1.3.1-x86_64-unknown-linux-gnu.tar.gz::https://github.com/Londopy/nexium/releases/download/v1.3.1/nx-v1.3.1-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = a010e6c620f1daa1d02b43de927e15490950b192db5aa449668b8c78a8f0e2d1
	source_aarch64 = nx-v1.3.1-aarch64-unknown-linux-gnu.tar.gz::https://github.com/Londopy/nexium/releases/download/v1.3.1/nx-v1.3.1-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = aaf5c7790ccd92d0744a392732cc830e26bb1e94f8a781f28f7e06f76ef91cb9

pkgname = nexium-bin
